# Dependencies
node_modules/
/dist
/build

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.poetry
.pytest_cache

# Database
smartcrop.db

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
